@import '../variables/colors.scss';
@import '../variables/styles.scss';

.login-container{

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

    aside{
        background-color: #181819;
        position: relative;
        height: 100%;
        width: 50rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .round{
            width: 13rem;
            height: 13rem;
            display: block;
            position: absolute;
            top: -13rem;
            right: -13rem;
            border-radius: 100px;
            box-shadow: -250px 190px 142px 23px $backgroundGreen;
            background-color: $backgroundGreen;
        }

        h1{
            font-family: Montserrat;
            color: #F9F9F9;
            font-size: 6rem;
            margin-right: 22rem;
            width: 5rem;
        }

        .round-brackets{
            color:$backgroundGreen;
            background-color: #F9F9F9;
            border-radius: 185px;
            font-size: 4rem;
            width: 7rem;
            height: 7rem;
            text-align: center;
            border: 8px solid #181819;
            position: absolute;
            right: -2.9rem;
            z-index: 2;
        }

        a{
            margin-top: 2rem;
            margin-right: 15rem;
            button{
                @include buttonMakeAccount;
            }
        }
    }

    .login-side{
        height: 50rem;
        width: 100%;
        background-color: #F9F9F9;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        .header-login-side{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 92%;
            position: absolute;
            top: 0;

            .title{
                color: $backgroundGreen;
                font-size: 1.6rem;
                font-weight: bolder;
            }

            a{
                text-decoration: none;
                button{
                    @include buttonHome;
            
                }
            }
        }

        form{
            display: flex;
            flex-direction: column;
            width: 60rem;
            align-items: center;

            .header-form{
                display: flex;
                flex-direction: column;
                margin-right: 9rem;

                h2{
                    color: #4B4C4F;
                    font-size: 2.4rem;
                }
                p{
                    color: #B6B7BB;
                }
            }

            :nth-child(3){
                margin-top: 2rem
            }

            label{
                @include label-input;
                margin-right: 12rem;
            }

            .check{
                display: flex;
                flex-direction: row;
                width: 39rem;
                margin-top: 1rem;
                p{
                    margin-left: 1rem;
                }
            }

            button{
                @include buttonMakeAccount;
                margin-right: 28rem;
                margin-top: 2rem;
            }
        }
    }
}