@import '../variables/colors.scss';

.subHeader{
    width: 99rem;
    margin: auto;
    border-top: thin solid gray;
    border-bottom: thin solid gray;
    height: 5rem;
    display: flex;
    align-items: center;

    @media only screen and (min-width:2560px){
        width: 129rem;
    }

    p{
        position: relative;
        height: auto;
        display: flex;
        align-items: center;
        font-size: 1.12rem;
        @media only screen and (min-width:2560px){
            font-size: 2.2rem;
        }

        span{
            left: 0;
            background-color: #181818;
            font-size: 2rem;
            color: white;
            margin-right: 5rem;
            display: flex;
            align-items: center;
            height: 5rem;
            padding: 0px 1rem 0px 1rem;
        }

        a{
            background-color: #181818;
            font-size: 2rem;
            color: white;
            margin-right: 5rem;
            text-decoration: none;
            border-radius: 18px;
            padding: .4rem;
            margin-left: 2rem;
        }
    }
}

.main_projects{
    display: flex;
    justify-content: space-between;

    form{
        width: 25rem;
        margin-top: 2rem;
        margin-left: 5rem;
        .header{
            border-bottom: 1px solid black;
            font-size: 2rem;
            display: flex;
        }
    
        .orcamento{
            display: flex;
            flex-direction: column;
            align-items: start;
    
            header{
                padding: 0;
                margin-top: 2rem;
                margin-bottom: 2rem;
                display: flex;
                font-size: 1.4rem;
            }
    
            article{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 15rem;
                input{
                    width: 5rem;
                    padding: .8rem;
                    outline: none;
                    border-radius: 3px;
                    border:thin solid #181818;
                }
            }
        }
        .types{
            margin-top: 2rem;
            p{
                font-size: 1.4rem;
            }
            label{
                margin-top: 1.4rem;
                input{
                    cursor: pointer;
                }
                span{
                    margin-left: .8rem;
                    font-size: 1.4rem;
                }
            }
        }
    
        .design{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            p{
                font-size: 1.4rem;
            }
    
            label{
                margin-top: 1rem;
    
                span{
                    margin-left: 1rem;
                    font-size: 1.2rem;
                }
            }
        }
    
        .filter{
            margin-top: .8rem;
            @include buttonMakeAccount;
        }
    }

}