@import '../variables/styles.scss';
@import '../variables/colors.scss';

.register-container{
    .register-side{

        .register-header{
            @extend .header-login-side;
            
            .title{
                color: $backgroundGreen;
                font-size: 1.6rem;
                font-weight: bolder;
            }

            a{
                text-decoration: none;
                button{
                    @include buttonHome;
                }
            }
        }

        form{
            label{
                @include label-input;

                input{
                    width: 17rem;
                }
            }
        }
    }
}