.welcomeCard{
    background-color: #74D98C;
    width: 82%;
    margin: auto;
    border-radius: 10px;
    padding: 2rem;
    height: 22rem;

   p{
    font-size: 4rem;
    font-weight: 800;
    text-align: end;
   }

   #p1{
    width: 40%;
   }

   #p2{
    width: 62%;
   }

   #p3{
    width: 80%;
   }
}