@import "./colors.scss";

@mixin buttonMakeAccount(){
    background-color: $backgroundGreen;
    color: #181819;
    border-radius: 27px;
    border: none;
    cursor: pointer;
    padding: .7rem;
    width: 13rem;
    font-weight:bolder;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    transition:.7s all;

    &:hover{
        transform: translateX(25px);
    }
}

@mixin buttonHome(){
    border-radius: 12px;
    padding: .7rem;
    border: thin solid #4B4C4F;
    cursor: pointer;
    display: flex;
    transition: all .7s;
    align-items: center;
    justify-content: space-between;
    width: 5.8rem;

    &:hover{
        transform: scale(1.23);
    }

    p{
        color: #97989B;
        font-weight: bolder;
    }
}

@mixin label-input(){
    display: flex;
    flex-direction: column;
    span{
        color: #4B4C4F;
    }

    input{
        padding: 1.4rem;
        width: 28rem;
        border-radius: 20px;
        outline: none;
        border: thin solid #4B4C4F;

        @media only screen and (max-width:1440px){
            padding:.8rem;
        }
    }

}