@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';
header {
  padding: 2rem;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
header h1 {
  color: #74D98C;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
}
header nav {
  grid-column: 2/3;
  align-self: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 40%;
  justify-content: space-around;
}
header nav ul li a {
  text-decoration: none;
  color: #4B4C4F;
  font-weight: 700;
}
header .actions {
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
  width: 46%;
  display: flex;
  justify-content: space-around;
}
header .actions button {
  padding: 0.6rem;
  width: auto;
  border-radius: 8px;
  background-color: #74D98C;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.welcomeCard {
  background-color: #74D98C;
  width: 82%;
  margin: auto;
  border-radius: 10px;
  padding: 2rem;
  height: 22rem;
}
.welcomeCard p {
  font-size: 4rem;
  font-weight: 800;
  text-align: end;
}
.welcomeCard #p1 {
  width: 40%;
}
.welcomeCard #p2 {
  width: 62%;
}
.welcomeCard #p3 {
  width: 80%;
}

.depoiment_container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 24rem;
  justify-content: center;
}
.depoiment_container .wire {
  background-color: #74D98C;
  width: 20rem;
  padding: 0.4rem;
  font-weight: bolder;
  font-size: 1.6rem;
  text-align: center;
}
.depoiment_container .wire_start {
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  top: 0;
  left: 0;
}
.depoiment_container .wire_end {
  border-radius: 15px 0px 0px 15px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.depoiment_container .depoiments {
  height: auto;
}
.depoiment_container .depoiments .depoiment {
  border: 5px solid #181819;
  display: grid;
  grid-template-rows: 20% 42% 38%;
  width: 30rem;
  border-radius: 20px;
  height: 16rem;
  grid-template-columns: 85% 15%;
  padding-top: 0.4rem;
}
.depoiment_container .depoiments .depoiment .avatar, .depoiment_container .depoiments .depoiment .userName, .depoiment_container .depoiments .depoiment .avaliacao {
  grid-row: 1/2;
  align-self: center;
}
.depoiment_container .depoiments .depoiment .avatar, .depoiment_container .depoiments .depoiment .userName {
  grid-column: 1/2;
}
.depoiment_container .depoiments .depoiment .avatar {
  margin-left: 4%;
}
.depoiment_container .depoiments .depoiment .userName {
  margin-left: 18%;
  font-weight: 700;
}
.depoiment_container .depoiments .depoiment .avaliation {
  grid-row: 2/3;
  grid-column: 1/3;
  margin: 2% 4% 3% 2%;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
.depoiment_container .depoiments .depoiment footer {
  background-color: #181819;
  border-radius: 0 0 5px 5px;
  grid-row: 3/4;
  grid-column: 1/3;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.depoiment_container .depoiments .depoiment footer .realized {
  color: #FFFFFF;
  font-weight: 700;
  text-align: end;
  width: 50%;
  font-size: 1.1rem;
}
.depoiment_container .depoiments .depoiment footer .teamName {
  color: #74D98C;
  font-weight: 700;
  width: auto;
  margin-left: 20%;
  font-size: 1.6rem;
}

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.login-container aside {
  background-color: #181819;
  position: relative;
  height: 100%;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-container aside .round {
  border-radius: 100px;
  box-shadow: -250px 190px 300px 23px #74D98C;
  background-color: #74D98C;
  width: 13rem;
  height: 13rem;
  display: block;
  position: absolute;
  top: -13rem;
  right: -13rem;
}
.login-container aside h1 {
  font-family: Montserrat;
  color: #F9F9F9;
  font-size: 6rem;
  margin-right: 22rem;
  width: 5rem;
}
.login-container aside .round-brackets {
  color: #74D98C;
  background-color: #F9F9F9;
  border-radius: 185px;
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  text-align: center;
  border: 8px solid #181819;
  position: absolute;
  right: -2.9rem;
  z-index: 2;
}
.login-container aside a {
  margin-top: 2rem;
  margin-right: 15rem;
}
.login-container aside a button {
  background-color: #74D98C;
  color: #181819;
  border-radius: 27px;
  border: none;
  cursor: pointer;
  padding: 0.7rem;
  width: 13rem;
  font-weight: bolder;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  transition: 0.7s all;
}
.login-container aside a button:hover {
  transform: perspective(1000px) translateX(25px) rotateY(10deg);
}
.login-container .login-side {
  height: 100%;
  width: 100%;
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.login-container .login-side .header-login-side, .login-container .login-side .register-container .register-side .register-header, .register-container .register-side .login-container .login-side .register-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  position: absolute;
  top: 0;
}
.login-container .login-side .header-login-side .title, .login-container .login-side .register-container .register-side .register-header .title, .register-container .register-side .login-container .login-side .register-header .title {
  color: #74D98C;
  font-size: 1.6rem;
  font-weight: bolder;
}
.login-container .login-side .header-login-side a, .login-container .login-side .register-container .register-side .register-header a, .register-container .register-side .login-container .login-side .register-header a {
  text-decoration: none;
}
.login-container .login-side .header-login-side a button, .login-container .login-side .register-container .register-side .register-header a button, .register-container .register-side .login-container .login-side .register-header a button {
  border-radius: 12px;
  padding: 0.7rem;
  border: thin solid #4B4C4F;
  cursor: pointer;
  display: flex;
  transition: all 0.7s;
  align-items: center;
  justify-content: space-between;
  width: 5.8rem;
}
.login-container .login-side .header-login-side a button:hover, .login-container .login-side .register-container .register-side .register-header a button:hover, .register-container .register-side .login-container .login-side .register-header a button:hover {
  transform: scale(1.23);
}
.login-container .login-side .header-login-side a button p, .login-container .login-side .register-container .register-side .register-header a button p, .register-container .register-side .login-container .login-side .register-header a button p {
  color: #97989B;
  font-weight: bolder;
}
.login-container .login-side form {
  display: flex;
  flex-direction: column;
  width: 60rem;
  align-items: center;
}
.login-container .login-side form .header-form {
  display: flex;
  flex-direction: column;
  margin-right: 9rem;
}
.login-container .login-side form .header-form h2 {
  color: #4B4C4F;
  font-size: 2.4rem;
}
.login-container .login-side form .header-form p {
  color: #B6B7BB;
}
.login-container .login-side form :nth-child(3) {
  margin-top: 2rem;
}
.login-container .login-side form label {
  display: flex;
  flex-direction: column;
  margin-right: 12rem;
}
.login-container .login-side form label span {
  color: #4B4C4F;
}
.login-container .login-side form label input {
  padding: 1rem;
  width: 28rem;
  border-radius: 20px;
  outline: none;
  border: thin solid #4B4C4F;
  font-size: 1.3rem;
}
@media only screen and (max-width: 1440px) {
  .login-container .login-side form label input {
    padding: 0.8rem;
  }
}
.login-container .login-side form .check {
  display: flex;
  flex-direction: row;
  width: 39rem;
  margin-top: 1rem;
}
.login-container .login-side form .check p {
  margin-left: 1rem;
}
.login-container .login-side form button {
  background-color: #74D98C;
  color: #181819;
  border-radius: 27px;
  border: none;
  cursor: pointer;
  padding: 0.7rem;
  width: 13rem;
  font-weight: bolder;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  transition: 0.7s all;
  margin-right: 28rem;
  margin-top: 2rem;
}
.login-container .login-side form button:hover {
  transform: perspective(1000px) translateX(25px) rotateY(10deg);
}

.register-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.register-container aside {
  width: 42rem;
  background-color: #181819;
  position: relative;
  height: 59.54rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 3.5rem;
}
.register-container aside .round {
  border-radius: 100px;
  box-shadow: -250px 190px 300px 23px #74D98C;
  background-color: #74D98C;
  width: 13rem;
  height: 13rem;
  display: block;
  position: absolute;
  top: -13rem;
  box-shadow: 7px 94px 300px 23px #74D98C;
}
.register-container aside h1 {
  color: #F9F9F9;
  text-align: center;
  width: 7rem;
  margin-right: 7rem;
}
.register-container aside button {
  background-color: #74D98C;
  color: #181819;
  border-radius: 27px;
  border: none;
  cursor: pointer;
  padding: 0.7rem;
  width: 13rem;
  font-weight: bolder;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  transition: 0.7s all;
}
.register-container aside button:hover {
  transform: perspective(1000px) translateX(25px) rotateY(10deg);
}
.register-container aside .round-brackets {
  color: #74D98C;
  background-color: #F9F9F9;
  border-radius: 185px;
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  text-align: center;
  border: 8px solid #181819;
  position: absolute;
  z-index: 2;
  left: -3.5rem;
}
.register-container .register-side {
  width: 78rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
}
.register-container .register-side .register-header {
  display: flex;
  justify-content: space-between;
}
.register-container .register-side .register-header .title {
  color: #74D98C;
  font-size: 1.6rem;
  font-weight: bolder;
}
.register-container .register-side .register-header a {
  text-decoration: none;
}
.register-container .register-side .register-header a button {
  border-radius: 12px;
  padding: 0.7rem;
  border: thin solid #4B4C4F;
  cursor: pointer;
  display: flex;
  transition: all 0.7s;
  align-items: center;
  justify-content: space-between;
  width: 5.8rem;
}
.register-container .register-side .register-header a button:hover {
  transform: scale(1.23);
}
.register-container .register-side .register-header a button p {
  color: #97989B;
  font-weight: bolder;
}
.register-container .register-side form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
  gap: 1rem;
  width: 60rem;
}
.register-container .register-side form label {
  display: flex;
  flex-direction: column;
}
.register-container .register-side form label span {
  color: #4B4C4F;
}
.register-container .register-side form label input {
  padding: 1rem;
  width: 28rem;
  border-radius: 20px;
  outline: none;
  border: thin solid #4B4C4F;
  font-size: 1.3rem;
}
@media only screen and (max-width: 1440px) {
  .register-container .register-side form label input {
    padding: 0.8rem;
  }
}
.register-container .register-side form label input {
  width: 17rem;
}
.register-container .register-side form #label1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.register-container .register-side form #label2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.register-container .register-side form #label3 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.register-container .register-side form #label4 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.register-container .register-side form #label5 {
  grid-row: 3/4;
  grid-column: 1/3;
}
.register-container .register-side form #label5 input {
  width: 48rem;
}
.register-container .register-side form #label6 {
  grid-row: 4/5;
  grid-column: 1/3;
}
.register-container .register-side form #label6 input {
  width: 48rem;
}
.register-container .register-side form .choose {
  grid-row: 5/6;
  grid-column: 1/3;
}
.register-container .register-side form .choose label input {
  width: 3rem;
  cursor: pointer;
}
.register-container .register-side form #label7 {
  grid-row: 6/7;
  grid-column: 1/3;
}
.register-container .register-side form #label8 {
  grid-row: 7/8;
  grid-column: 1/3;
}
.register-container .register-side form #label8 input {
  width: 2rem;
  cursor: pointer;
}
.register-container .register-side form #label9 {
  grid-row: 8/9;
  grid-column: 1/3;
}
.register-container .register-side form #label9 input {
  width: 2rem;
  cursor: pointer;
}
.register-container .register-side form .createAccount {
  grid-row: 9/10;
  grid-column: 1/2;
  background-color: #74D98C;
  color: #181819;
  border-radius: 27px;
  border: none;
  cursor: pointer;
  padding: 0.7rem;
  width: 13rem;
  font-weight: bolder;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  transition: 0.7s all;
}
.register-container .register-side form .createAccount:hover {
  transform: perspective(1000px) translateX(25px) rotateY(10deg);
}

main .outdoor {
  height: 30rem;
  background-color: #181818;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  width: 100%;
  margin-top: 5rem;
  position: relative;
  overflow: hidden;
}
main .outdoor img {
  width: 28rem;
}
main .outdoor .round1 {
  border-radius: 100px;
  box-shadow: -250px 190px 300px 23px #74D98C;
  background-color: #74D98C;
  width: 13rem;
  height: 13rem;
  display: block;
  position: absolute;
  right: -18rem;
  top: -22rem;
}
main .outdoor .round2 {
  border-radius: 100px;
  box-shadow: -250px 190px 300px 23px #74D98C;
  background-color: #74D98C;
  width: 13rem;
  height: 13rem;
  display: block;
  position: absolute;
  left: -13rem;
  bottom: -11rem;
  box-shadow: 200px 67px 300px 23px #74D98C;
}
main .outdoor article p {
  color: #F9F9F9;
  width: 31rem;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
main .outdoor article a {
  text-decoration: none;
}
main .outdoor article a button {
  background-color: #74D98C;
  color: #181819;
  border-radius: 27px;
  border: none;
  cursor: pointer;
  padding: 0.7rem;
  width: 13rem;
  font-weight: bolder;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  transition: 0.7s all;
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .outdoor article a button:hover {
  transform: perspective(1000px) translateX(25px) rotateY(10deg);
}

.subHeader {
  width: 99rem;
  margin: auto;
  border-top: thin solid gray;
  border-bottom: thin solid gray;
  height: 5rem;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 2560px) {
  .subHeader {
    width: 129rem;
  }
}
.subHeader p {
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  font-size: 1.12rem;
}
@media only screen and (min-width: 2560px) {
  .subHeader p {
    font-size: 2.2rem;
  }
}
.subHeader p span {
  left: 0;
  background-color: #181818;
  font-size: 2rem;
  color: white;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0px 1rem 0px 1rem;
}
.subHeader p a {
  background-color: #181818;
  font-size: 2rem;
  color: white;
  margin-right: 5rem;
  text-decoration: none;
  border-radius: 18px;
  padding: 0.4rem;
  margin-left: 2rem;
}

.main_projects {
  display: flex;
  justify-content: space-between;
}
.main_projects form {
  width: 25rem;
  margin-top: 2rem;
  margin-left: 5rem;
}
.main_projects form .header {
  border-bottom: 1px solid black;
  font-size: 2rem;
  display: flex;
}
.main_projects form .orcamento {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main_projects form .orcamento header {
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  font-size: 1.4rem;
}
.main_projects form .orcamento article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
}
.main_projects form .orcamento article input {
  width: 5rem;
  padding: 0.8rem;
  outline: none;
  border-radius: 3px;
  border: thin solid #181818;
}
.main_projects form .types {
  margin-top: 2rem;
}
.main_projects form .types p {
  font-size: 1.4rem;
}
.main_projects form .types label {
  margin-top: 1.4rem;
}
.main_projects form .types label input {
  cursor: pointer;
}
.main_projects form .types label span {
  margin-left: 0.8rem;
  font-size: 1.4rem;
}
.main_projects form .design {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.main_projects form .design p {
  font-size: 1.4rem;
}
.main_projects form .design label {
  margin-top: 1rem;
}
.main_projects form .design label span {
  margin-left: 1rem;
  font-size: 1.2rem;
}
.main_projects form .filter {
  margin-top: 0.8rem;
  background-color: #74D98C;
  color: #181819;
  border-radius: 27px;
  border: none;
  cursor: pointer;
  padding: 0.7rem;
  width: 13rem;
  font-weight: bolder;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  transition: 0.7s all;
}
.main_projects form .filter:hover {
  transform: perspective(1000px) translateX(25px) rotateY(10deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

body {
  background-color: #F9F9F9;
}/*# sourceMappingURL=style.css.map */