@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';
@import './modules/header.scss';
@import './modules/welcomeCard.scss';
@import './modules/depoiment.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: #F9F9F9;
}